@import 'leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure popup overlay always appears above Leaflet map */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-popup {
  z-index: 1 !important;
}

.leaflet-control {
  z-index: 2 !important;
}

